
<!-- Sélection du client -->
<div>
  <div>
    <label for="client">Client :</label>
    <select id="client" [(ngModel)]="selectedClientId" (change)="onClientChange()">
      <option *ngFor="let client of clients" [value]="client.id">{{ client.nomClient }}</option>
    </select>
  </div>
</div>

<!-- Montant total -->
<div>
  <label for="totalMontant">Total Montant :</label>
  <input type="text" [(ngModel)]="totalTtc" readonly />

</div>


<!-- Liste des enregistrements -->
<h3>Liste des Marques Casa</h3>
<table>
  <tr>
    <th>Produit</th><th>Unité</th>
    <th>Prix Vente</th><th>Quantité</th><th>TVA</th><th>Montant HT</th><th>Montant TTC</th>
  </tr>
  <tr *ngFor="let m of allLivraisons">
    <td>{{ m.produit.nomProduit }}</td>
    <td>{{ m.produit.facteurConversion }}</td>
    <td>{{ m.prixUnitaire }}</td>
    <td>{{ m.quantite }}</td>
    <td>{{ m.tva }}</td>
    <td>{{ m.montantHt }}</td>
    <td>{{ m.montantTtc }}</td>
  </tr>
</table>
